<div id="map-container" ng-controller="MapCtrl"> 
  <google-map center='map.center' zoom='map.zoom'>
    <marker ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)">
            <marker-label content="m.title" anchor="22 0" class="marker-labels"/>
            <window show="m.showWindow" closeClick="m.closeClick()">
                <p>This is an info window at {{ m.latitude | number:4 }}, {{ m.longitude | number:4 }}!</p>

                <p class="muted">My marker will stay open when the window is popped up!</p>
            </window>
        </marker>
  </google-map>
  <button ng-click="removeMarkers()">remove markers ...</button>
</div>
<div ng-controller="JamsCtrl">
  <button ng-click="getGeolocation()">get ur geolocation ...</button>
  <label class="checkbox" style="display:none">
    <input type="checkbox" ng-model="oneAtATime">
    Open only one at a time
  </label>

  <accordion close-others="oneAtATime">
    <accordion-group heading="Static Header, initially expanded" is-open="true">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </accordion-group>
    <accordion-group heading="Dynamic Body Content">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group>
    <accordion-group is-open="isopen">
        <accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group>
  </accordion>
</div>